[Unit]
Description=matterhub
After=network.target

[Service]
User=whatsmatter
WorkingDirectory=/home/whatsmatter/Desktop/matterhub
ExecStart=sh /home/whatsmatter/Desktop/matterhub/device_config/matterhub.sh
Restart=always
RestartSec=5
#Environment="PYTHONPATH=/usr/lib/python3/dist-packages"

[Install]
WantedBy=multi-user.target